.list-option {
  background-color: aliceblue;
  border: 1px solid blue;
  float: left;
  width: 80%;
  margin-right: 1rem;
}
.add-button {
  width: 10%;
  float: left;
}
.hide-option {
  display: none;
}
.btn-load-toggle {
  background-color: aliceblue;
  right:25%;
  float: right;
}
.add-icon {
  color: rgb(121, 179, 230);
  font-size: 4rem;
}
