<mat-spinner *ngIf="postList.length === 0"></mat-spinner>
<mat-card *ngIf="postList.length > 0">Posts from {{ userName }}:</mat-card>

<mat-grid-list cols="1" [rowHeight]="100">
  <mat-grid-tile [colspan]=1 [rowspan]=1 *ngFor="let post of postList | slice: (loadMore ? 0 : postList.length - 3);let count = index">
    <div class="list-option">
    &lt;Title {{ count + 1 }} &gt; {{ post.title }}
    <br />
    &lt; Body {{ count + 1 }} &gt; {{ post.body }}
  </div>
  <div class="add-button">
    <mat-icon aria-hidden="false" class='add-icon' aria-label="add">add</mat-icon>
  </div>
  </mat-grid-tile>
</mat-grid-list>

<br />
<button mat-raised-button *ngIf="postList.length > 0" class="btn-load-toggle" (click)="loadMore = !loadMore">
  {{ loadMore ? "... Load less" : "... Load all" }}
</button>
